@import 'bootstrap/dist/css/bootstrap.min.css';

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  color: #f0f0f0;
  background: linear-gradient(45deg, #232526, #414345); /* Background dégradé sombre */
}

.container {
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.btn {
  display: inline-flex;
  align-items: center;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  font-weight: 600;
  transition-duration: 200ms;
}

.btn-primary {
  background-color: #3498db;
  color: white;
}

.btn-primary:hover {
  background-color: #2e6da4;
}

.btn-secondary {
  background-color: #1f1f1f;
  color: #3498db;
  border: 2px solid #3498db;
}

.btn-secondary:hover {
  background-color: #2c2c2c;
}

.section {
  padding: 5rem 0;
}

.section-title {
  font-size: 2.25rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 3rem;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}